[Unit]
Description=Run SteamGate content routine every three hours

[Timer]
OnCalendar=*-*-* 00/3:07:00 Europe/Moscow
Persistent=true
Unit=cucumber-content.service

[Install]
WantedBy=timers.target
